.input-group {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  color: inherit;
  background: #1c1917;

  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  min-height: 2rem;
  resize: vertical;

  font-family: inherit;
}

textarea {
  height: 6rem;
  max-height: 12rem;
}
