.resume-container {
  min-width: 21cm;
  height: 29.7cm;

  background: #ffffff;
}

.resume-header {
  background: #701a75;
  padding: 3rem 2rem;
}

h1 {
  text-align: center;
}

.contacts {
  margin-inline: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
